*{
    margin: 10px;
    padding: 10px;

}

body{
    background-color: red;

}
a:hover{
    background: #19d3da;
    border-radius: 5px;
}

a{
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; 
}