<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Contactos</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{url_for('static' , filename='estilos.css')}}">
    </head>
    <body>

        <center>
            <h1>Contactos</h1>
        <center>

            <nav class="menu">
                <a href="menu">Home</a>
                <a href="usuarios">Usuarios</a>
                <a href="citas">Citas</a>
                <a href="contactos">Contactos</a>
                <a href="todos">Todos</a>
            </nav>

        <table border='1'>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Correo Electronico</th>
                <th colspan="2">Administracion</th>
            </tr>
            {% for u in contactos%}
            <tr>
                <td>{{ u[2] }}</td>
                <td>{{ u[3] }}</td>
                <td>{{ u[4] }}</td>
                <td>{{ u[5] }}</td>
                <td>{{ u[6] }}</td>
                <td><a href="/eliminar_contacto?id={{ u[0] }}">Eliminar</a> </td>
                <td><a href="/actualizar_contacto?id={{ u[0] }}">Modificar</a></td>
            </tr>
        {% endfor %}
        </table>
        <a href="/agregar_contacto" class="add">Agregar</a>
    </body>

</html>