<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Agenda</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{url_for('static' , filename='estilos.css')}}">
    </head>
    <body>
        <center>
            <h1>Agenda</h1>
        <center>

        <nav class="menu">
            <a href="usuarios">Usuarios</a>
            <a href="citas">Citas</a>
            <a href="contactos">Contactos</a>
            <a href="todos">Todos</a>
        </nav>

        <div class="texto">
            <p>Nicolas Mendez Farias  -  20182020096<br/>Brayan Alexis Castrillon Mejia  -  20182020105</p>

        </div>
    </body>